body {
    background-color: black;
    text-align: center;
    color: #FFFFF0;
    font-family: 'Lucida Sans';
}

a {
    color: #43b451;
    text-decoration: none;
}

a:hover {
    color: crimson;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 900px;
    margin: 0 auto;
    width: 90%;
}

h2, h3 {
    text-align: center;
    font-size: 1.5em;
}

img {
    width: 50%;
}

figure {
    text-align: center;
    font-style: italic;
    font-size: small;
}

.centered-welcome, .centered-webevals {
    text-align: center;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
#colorbox {
    height:200px;
    width:200px;
    background:blue;
    margin:50px auto;
}

/* Foundational Three */
main, .maincontainer {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color: yellow;
    }
    
    main {
        max-width: 900px;
        width: 85%;
    }
    
    img {
        width: 45%;
    }
}

/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px ) {
    #colorbox {
        background-color: orange;
    }
    
    main {
        max-width: 750px;
        width: 90%;
    }
    
    img {
        width: 60%;
    }
}

/* Rule Overrides For Mobile Devices */
@media screen and (min-width: 370px) and (max-width: 600px) {
    #colorbox {
        background-color: red;
    }
    
    main {
        max-width: 500px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    img {
        width: 85%;
    }
    
    :root {
        --heading-font-size: 1.2em; 
    }
}